<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
</head>
<body>
<div class="container">
    <button class="btn" onclick="newSave()">신규 글 작성</button>
    <button class="btn" onclick="boardList()">글 목록</button>
    <button class="btn" onclick="pagingList()">페이지 목록</button>
<!--    1페이지 14번글 /board/14/1
                     /board/14?page=1-->
</div>
</body>
<script th:inline="javascript">
    const newSave = () => {
        location.href = "/board/save";
    }

    const boardList = () => {
        location.href = "/board/";
    }

    const pagingList = () => {
        location.href = "/board";

    }
</script>
</html>